


 
.navbar-menu {
  width: 600px;
  height: 144px;
  display: flex;
  justify-content: space-around; 
  align-items: center;
  background-color: #000; 
  color: #fff; 
  padding: 20px 0; 
  margin: 20px;
  border-radius: 16px;
}

.navbar-menu a {
  text-decoration: none;
  color: #fff; 
}

.navbar-menu section {
  width: 84px;
  height: 84px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.navbar-menu img {
  width: 30px; 
  height: 30px;
}

.navbar-menu span {
  margin-top: 5px; 
}


