#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-block {
  display: flex;
  justify-content: space-between;
}

.pages-block {
  position: relative; /* Set position to relative */
  left: 30rem; /* Move the block 50px to the right */
  bottom: 40rem; /* Move the block 20px down */
  width: 850px;
  height: 1250px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #000;
}


/* Media query for mobile devices (adjust breakpoint as needed) */
@media only screen and (max-width: 768px) {

  /* Restructure layout for mobile */
  .app-block {
    width: 100rem;
    flex-direction: column-reverse; /* Stack elements vertically */
  }

 .pages-block {
  bottom: 0rem;
 }
}

