#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-block {
  display: flex;
  justify-content: space-between;
}

.pages-block {
  position: relative; /* Set position to relative */
  left: 30rem; /* Move the block 50px to the right */
  bottom: 40rem; /* Move the block 20px down */
  width: 850px;
  height: 1206px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #000;
}
